<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
  <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<div id="app">
  <p>复选框单选：</p>
  <input type="checkbox" v-model="checkbox1" id="checkbox1">
  <label for="checkbox1">{{checkbox1}}</label>

  <p>复选框全选：</p>
  <input type="checkbox" v-model="checkbox" id="checkbox">
  <label for="checkbox">{{checkbox}}</label>

  <p>多个复选框：</p>
  <input type="checkbox" v-model="checkboxs" value="Runoob" id="runoob">
  <lable for="runoob">Runoob</lable>
  <input type="checkbox" v-model="checkboxs" value="Google" id="google">
  <label for="google">Google</label>
  <input type="checkbox" v-model="checkboxs" value="taobao" id="taobao">
  <lable for="taobao">Taobao</lable>
  <p>选择的值为 {{checkboxs}}</p>

</div>

<script>
  new Vue({
    el: "#app",
    data: {
      checkbox1: false,
      checkbox: false,
      checkboxs: [],
      checkboxs2: ["Runoob", "taobao", "Google"]
    },
    watch: {
      checkboxs: function () {
        if (this.checkboxs.length == this.checkboxs2.length) {
          this.checkbox = true
        } else {
          this.checkbox = false
        }
      },
      checkbox: function () {
        if (this.checkbox) {
          this.checkboxs = this.checkboxs2
        } else {
          this.checkboxs = []
        }

      }
    }
  })


</script>
</body>
</html>
