<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>

</head>
<body>

<div id="app">
  <input type="radio" v-model="pick" value="runoob" id="runoob">
  <label for="runoob">Runoob</label>

  <input type="radio" v-model="pick" value="google" id="google">
  <label for="google">Google</label>

  <p>选择的值{{pick}}</p>

</div>


<script type="text/javascript">
  new Vue({
    el: "#app",
    data: {
      pick: "runoob"
    }
  })


</script>
</body>
</html>
